---
language: node_js
node_js:
  - "4"

sudo: false

cache:
  directories:
    - node_modules

env:
  - TEST_SCRIPT=test:ember EMBER_TRY_SCENARIO=ember-canary
  - TEST_SCRIPT=test:ember EMBER_TRY_SCENARIO=ember-beta

  # Run the node build tests only if we've modified a build file
  - TEST_SCRIPT=test:node:ci

matrix:
  fast_finish: true

branches:
  only:
    - master

before_install:
  - npm config set spin false
  - npm install -g bower
  - bower --version
  - npm install phantomjs-prebuilt
  - phantomjs --version

install:
  - npm install
  - bower install

script:
  # Usually, it's ok to finish the test scenario without reverting
  #  to the addon's original dependency state, skipping "cleanup".
  - npm run $TEST_SCRIPT
