<h1>Ember Engines Demo</h1>

{{link-to 'Routeless Engine' 'routeless-engine-demo' class='routeless-engine'}} |
{{link-to 'Routeable Engine' 'routable-engine-demo' class='routeable-engine'}} |
{{link-to 'Non-Blog Post' 'post' 1 class='non-blog-post'}}

{{outlet}}
