<div>
  {{link-to "Blog New" "blog.new" class="blog-new"}} |
  {{link-to "Ember Blog New" "routable-engine-demo.ember-blog.new" class="ember-blog-new"}} |
  {{link-to "Eager Blog" "eager-blog" class="eager-blog"}}
</div>

{{outlet}}
