<div class="engine">
  New Route!!

  <p class="routable-hello-world">{{hello-world}}</p>

  <button {{action 'goAway'}} class="trigger-transition-to">Go Away!</button>
  <button {{action 'goAwayViaURL'}} class="trigger-transition-to-url">Go Away via URL!</button>
</div>
