<ul>
  <li>{{#link-to "blog.post" 1 (query-params lang="Japanese") class="blog-post-1-link-jp"}}Go to post #1 with Japanese as language{{/link-to}}</li>
  <li><button {{action "goToPostWithChinese"}} class="blog-post-1-link-ch">Go to post #1 with Chinese as language programmatically</button></li>
</ul>
